
<div class="panel">
	<div class="col-md-12">
		<img src="../image/angular-js.jpg" class="img-rounded"><a href="index.html#/artical/1">Test Test Test Test Test Test Test Test Test Test</a>
	</div>
	<div class="col-md-12">
		<img src="../image/java.jpg" class="img-rounded"><a href="#">Test Test Test Test Test Test Test Test Test Test</a>
	</div>
	<div class="col-md-12">
		<img src="../image/angular-js.jpg" class="img-rounded"><a href="#">Test Test Test Test Test Test Test Test Test Test</a>
	</div>
	<div class="col-md-12">
		<img src="../image/java.jpg" class="img-rounded"><a href="#">Test Test Test Test Test Test Test Test Test Test</a>
	</div>
	<div class="col-md-12">
		<img src="../image/angular-js.jpg" class="img-rounded"><a href="#">Test Test Test Test Test Test Test Test Test Test</a>
	</div>
	<div class="col-md-12">
		<img src="../image/java.jpg" class="img-rounded"><a href="#">Test Test Test Test Test Test Test Test Test Test</a>
	</div>
	<div class="col-md-12">
		<img src="../image/angular-js.jpg" class="img-rounded"><a href="#">Test Test Test Test Test Test Test Test Test Test</a>
	</div>
	<div class="col-md-12">
		<img src="../image/java.jpg" class="img-rounded"><a href="#">Test Test Test Test Test Test Test Test Test Test</a>
	</div>
</div>
<div>
	<ul class="pagination">
	  <li><a href="#">&laquo;</a></li>
	  <li><a href="#">1</a></li>
	  <li><a href="#">2</a></li>
	  <li><a href="#">3</a></li>
	  <li><a href="#">4</a></li>
	  <li><a href="#">5</a></li>
	  <li><a href="#">&raquo;</a></li>
	</ul>
</div>